@import "partials/variables";
@import "partials/mixins";
@import "partials/functions";

// Basic
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Header
nav{
    @include displayFlex();
    width: 100%;
    height: 90px;
    background: $primaryColor;

    ul{
        @include displayFlex();
        list-style-type: none;

        li{
            display: block;
            margin-left: 5px;
            margin-right: 5px;

            a {
                text-decoration: none;
                font-size: 25px;

                &:link,
                &:visited {
                    text-decoration: none;
                    color: $textColor;
                }

                &:hover,
                &:active {
                    transition: 0.5s;
                    color: $secondaryColor;
                }

                &.active{
                    text-decoration: overline;
                    pointer-events: none;
                    color: $secondaryColor;
                }
            }
        }
    }

    .logoDiv{
        @include displayFlex();
        cursor: pointer;

        a{
            @include displayFlex();
            text-decoration: none;
            font-size: 50px;
            color: $textColor;
            
            img{
                width: 60px;
                height: 60px;
                margin-right: 5px;
            }

        }
    }
}

// Main
main{
    min-height: 100vh;
    background: linear-gradient(rgba(170, 166, 166, 0.8), rgba(122, 118, 118, 0.8)), url(../img/wolfBackground2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

    .container{
        max-width: 800px;
        margin: 0 auto;
        padding: 5px;
        padding-top: 20px;
    }
    
    .mainHeader{
        font-size: 120px;
        color: $textColor;
    }

    .sectionHeader{
        font-size: 80px;
        color: $textColor;
        margin-bottom: 20px;
    }

    .underHeader{
        font-size: 60px;
        color: $textColor;
    }
    
    .introduction{
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;

        p{
            font-size: 20px;
            text-align: justify;
        }

        .blogLink{
            display: block;
            margin: 0 auto;
            margin-top: 30px;
            width: 280px;
            height: 70px;
            background: $primaryColor;          
            font-size: 45px;
            padding: 8px;
            border-radius: 10px;

            &:link,
            &:visited {
                text-decoration: none;
                color: $textColor;
            }

            &:hover,
            &:active {
                transition: 0.5s;
                color: $secondaryColor;
                background: $textColor;
            }            
            
        }
    }

    .contact{                      
        margin-top: 40px;
        text-align: center;
        @include formular();
    }
}

// Footer
footer {
    background: $primaryColor;
    height: 50px;
    @include displayFlex();

    p {
        color: $textColor;
    }
}

// Message box
.messageBox{
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    height: 100px;
    z-index: 500;
    text-align: center;

    .background{
        width: 100%;
        height: 100%;
        background: $secondaryColor;
        opacity: 75%;
        border-radius: 10px; 
    }

    p{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: max-content;
        color: $primaryColor;
        font-size: 20px;
        font-weight: bolder;    
    }

    .iconsDiv{
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 100;
        cursor: pointer; 

        img{
            width: 25px;
            height: 25px;  
        }
    }
}