# cele domeny (aliasy)
RewriteEngine On
RewriteCond %{HTTP_HOST} ^vlksamotar.wz.cz
RewriteRule ^(.*) http://vlk-samotar.cz/$1 [L,R=301]

RewriteCond %{REQUEST_URI} !^domains/
RewriteCond %{REQUEST_URI} !^/domains/
RewriteCond %{HTTP_HOST} ^(www\.)?(.*)$
RewriteCond %{DOCUMENT_ROOT}/domains/%2 -d
RewriteRule (.*) domains/%2/$1 [DPI]

# aliasy – spravne presmerovani pri chybejicim /
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^domains/[^/]+/(.+[^/])$ /$1/ [R]